body {
	background-image: url("hbqoXL.jpg");
	background-size: cover;
}

.upperpic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tabulka {
	width: 100%;
	margin-top: 20px;
	border: 1px solid black;
}

.bunka {
	text-align: center;
}

.bunka:hover{
	font-weight: bold;
	transition: all 2000ms;
	background-color: #16a79a;
	
}

.leftpic {
	position: absolute;
    top: 242px;
    left: 498px;
	}

h1 {
	font-family: "Helvetica", cursive;
	color: rgb(19, 97, 45);
}

.car {
	height: 400px;
	margin: 0 auto;
}
